@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue/BebasNeue-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Poetsen';
    src: url(../fonts/poetsen_one/PoetsenOne-Regular.ttf) format('woff');
}

@font-face {
    font-family: 'Mandala';
    src: url(../fonts/welcome_mandala/Welcome\ Mandala.otf) format(woff);
}

@font-face {
    font-family: 'NotoSans Medium';
    src: url(../fonts/NotoSans/NotoSans-Medium.woff) format(woff);
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url(../fonts/NotoSans/NotoSans-Bold.woff) format(woff);
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../img/backgrounds/img_bkg.png);
    background-size: cover;
    background-position: center;
}



/* container */

.container1 {
    display: grid;
    width: 100%;
    grid-template-areas: 
    ' container-kanan';
}


.container-kanan {
    grid-area: container-kanan;
    display: grid;
}

    .semua-tabs {
        display: grid;
        width: 80%;
        justify-self: center;
        grid-template-areas: 
            'home'
            'about';
        padding-top: 2%;
        padding-bottom: 10%;
        gap: 10px;
        
        
    }

    .tabs {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: left;
        
    }

        .tabs-bagian-kiri {
            background-color: #03a6dd;
            background-image: url(../img/backgrounds/grid_mask.png);
            box-sizing: border-box;
            width: 50px;
            align-content: center;
        }

            .icon-tabs-bagian-kiri {
                margin-top: 20px;
            }
            
        .tabs-bagian-tengah {
            display: flex;
            background-image: url(../img/backgrounds/detail_info.png);
            background-color: #3d3d3d;
            background-size: cover;
            background-position: center;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: 5px 5px 30px #000;
        }

            .tabs-bagian-tengah span {
                color: #ffffff;
                font-size: 50px;
                font-family: 'BebasNeue';
                margin: auto;
            }

            .tabs-bagian-tengah img {
                max-width: 150px;
            }
            
        .tabs-bagian-kanan {
            background-color: #03a6dd;
            background-image: url(../img/backgrounds/grid_mask.png);
            box-sizing: border-box;
            width: 50px;
            align-content: center;
            overflow: hidden;
        }

            .icon-tabs-bagian-kanan {
                margin-top: 20px;
            }
                
    
    .tabs-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        font-family: 'Notosans Bold';
        border: 2px solid #000;
        justify-content: left;
        box-shadow: 0px 1px 10px #000;
 
    }
    
        .info {
            display: flex;
            background-image: url(../img/backgrounds/able_to_rich.png);
            background-size: cover;
            background-position: right;
            width: 100%;
            height: 10%;
            box-shadow: 0px 1px 10px #000;
        }
        
            .info span {
                position: relative;
                font-size: 1.5em;
                color: #fff;
                align-self: center;
                padding-left: 8px;
                padding-right: 8px;
            }

            .info-2 {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

        .info-container {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 95%;
            text-align: justify;
            color: #fff;
        }




.info-container .container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-image: url(../img/backgrounds/bg.png);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


    .form-group {
        margin-bottom: 10px;
    }

        #check {
            display: flex;
            align-items: center;
            gap: 8px;
        }

    label {
        display: block;
        margin-bottom: 4px;
        font-weight: bold;
        color: #333;
    }


    input[type="text"],
    input[type="password"],
    input[type="password2"],
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: border-box;
    }

    textarea {
        height: 150px;
        resize: vertical;
    }

    button {
        background-image: url(../img/backgrounds/tab_on.png);
        display: flex;
        align-content: center;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: 0px 1px 10px #000;
    }
        button:hover{
            transform: scale(1.1) ;
            box-shadow: 0px 10px 20px #000;
        }

        button .regis {
            position: absolute;
            font-family: 'BebasNeue';
            font-size: 40px;
            color: #b4b4b4;
            margin-left: 60px;
            transition: 0.5s ease;
        }

            button .regis:hover {
                transition: 0.5s ease;
                color: #ffffff;
                text-shadow: 0px 1px 10px #000000;
            }

                button .regis-img img {
                    width: 200px;
                    
                }

    input:focus, textarea:focus {
        outline: none;
        border-color: #000000;
        box-shadow: 5px 5px 5px rgba(20, 251, 255, 0.3);
    }


    .regis-btn {
        align-self: center;
        justify-items: center;
        text-shadow: 0px 1px 2px #000000;
    }


    
    .regis-btn a {
        text-decoration: none;
        text-shadow: none;
    }











        